
/*--------------------------------------------------
 *   MainCSS - ../src/css/main.css
 */
body {
	padding: 0;
	margin: 0;
}

/*--------------------------------------------------
 *   GameCSS - ../src/css/game.css
 */
#root
{
	width:       100%;
	height:      100%;
	left:        50%;
	top:         50%;
	margin-left: -50%;
	margin-top:  -50%;	
	position:    absolute;
}

#root div, #root canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
