
/*--------------------------------------------------
 *   ButtonCSS - ../game/css/button.css
 */
/*
 * This CSS file defines button styles for the initial play button and the in-game control buttons.
 *
 * The game engine can optionally scale the pixel value of "em", so ems are used in order to scale buttons to match the game's size. 
 */

/* This is the main menu play button */
.menu-button {
	position: absolute;
	bottom: 6.8em;
	left: 7.5em;
	margin-left: -5em;
	width: 10em;
	height: 2.5em;
	text-align: center;
	cursor: pointer;
	background: url('../i/buttons.png') 0 66.667% no-repeat;
	background-size: 150% 400%;
	line-height: 2.5em;
	color: white;
	font-family: arial;
	font-weight: bold;
	font-size: 3.5em;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.menu-button:active {
    background: url('../i/buttons.png') 0 100% no-repeat;
    background-size: 150% 400%;
}
.map-test {
    bottom: 3.8em;
}
.entity-test {
    bottom: 0.8em;
}

/* The following styles determine in-game buttons, all of which use game-button as their base style */
.game-button {
	width: 15em;
	height: 15em;
	z-index: 10;
	position: absolute;
}

.jump-button {
	background: url('../i/buttons.png') 20% 0 no-repeat;
	background-size: 600%;
	bottom: 1em;
	right: 1em;
}
.jump-button:active {
	background: url('../i/buttons.png') 20% 33.333% no-repeat;
	background-size: 600%;
}
.jump-center-button {
	background: url('../i/buttons.png') 20% 0 no-repeat;
	background-size: 600%;
	bottom: 1em;
	right: 17em;
	z-index: 11;
}
.jump-center-button:active {
	background: url('../i/buttons.png') 20% 33.333% no-repeat;
	background-size: 600%;
}
.jump-left-button {
	background: url('../i/buttons.png') 80% 0 no-repeat;
	background-size: 600%;
	bottom: 1em;
	right: 33em;
}
.jump-left-button:active {
	background: url('../i/buttons.png') 80% 33.333% no-repeat;
	background-size: 600%;
}
.jump-right-button {
	background: url('../i/buttons.png') 100% 0 no-repeat;
	background-size: 600%;
	bottom: 1em;
	right: 1em;
}
.jump-right-button:active {
	background: url('../i/buttons.png') 100% 33.333% no-repeat;
	background-size: 600%;
}

.pickaxe-button {
	background: url('../i/buttons.png') 100% 66.666% no-repeat;
	background-size: 600%;
	bottom: 1em;
	right: 17em;
}
.pickaxe-button:active {
	background: url('../i/buttons.png') 100% 100% no-repeat;
	background-size: 600%;
}
.pickaxe-above-button {
	background: url('../i/buttons.png') 100% 66.666% no-repeat;
	background-size: 600%;
	bottom: 17em;
	right: 1em;
}
.pickaxe-above-button:active {
	background: url('../i/buttons.png') 100% 100% no-repeat;
	background-size: 600%;
}

.go-left-button {
	background: url('../i/buttons.png') 0 0 no-repeat;
	background-size: 600%;
	bottom: 1em;
	left: 1em;
}
.go-left-button:active {
	background: url('../i/buttons.png') 0 33.333% no-repeat;
	background-size: 600%;
}
.go-right-button {
	background: url('../i/buttons.png') 40% 0 no-repeat;
	background-size: 600%;
	bottom: 1em;
	left: 17em;
}
.go-right-button:active {
	background: url('../i/buttons.png') 40% 33.333% no-repeat;
	background-size: 600%;
}

/* Since mobile HTML5 audio does not generally support mute, this button only shows on desktop and is smaller than the other game-buttons */
.mute-button.released {
	background: url('../i/buttons.png') 60% 0 no-repeat;
	background-size: 600%;
	top: 1em;
	left: 9em;
	width: 7em;
	height: 7em;
	z-index: 10;
	position: absolute;
	cursor: pointer;
}
.mute-button.pressed {
	background: url('../i/buttons.png') 60% 33.333% no-repeat;
	background-size: 600%;
	top: 1em;
	left: 9em;
	width: 7em;
	height: 7em;
	z-index: 10;
	position: absolute;
	cursor: pointer;
}


/*--------------------------------------------------
 *   MainCSS - ../game/css/main.css
 */
/*
 * The following set styles for the the game's wrapper page.
 */
 
body {
	background: #9E8A74;
	padding: 0;
	margin: 0;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color:    rgba(0, 0, 0, 0);
    -ms-tap-highlight-color:     rgba(0, 0, 0, 0);
    -o-tap-highlight-color:      rgba(0, 0, 0, 0);
    tap-highlight-color:         rgba(0, 0, 0, 0);
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.toggle-full-screen {
    cursor: pointer;
    font-family: arial;
    background: rgba(0,0,0,0.2);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    width: 10em;
    font-size: 1em;
    color: #fff;
    line-height: 1.9em;
    text-align: center;
    margin: auto;
    position: relative;
}


/*--------------------------------------------------
 *   GameCSS - ../game/css/game.css
 */
/* This is the primary game-play region of the page */
#root {
    background: #9E8A74;
	width:       640px;
    height:      480px;
    left:        50%;
    top:         50%;
    margin-left: -320px;
    margin-top:  -240px;    
    position:    absolute;
}

#root.supports-touch, #root.supports-multitouch {
	width:       320px;
    height:      240px;
    left:        50%;
    top:         50%;
    margin-left: -160px;
    margin-top:  -120px;    
    position:    absolute;
}

#inner-root {
    left:        50%;
    top:         50%;
    position:    absolute;
}

/* This is the canvas used by the handler-render-createjs component */
#inner-root canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
/* We change the render area to leave room for touch controls */
.supports-touch #inner-root canvas, .supports-multitouch #inner-root canvas {
    height: 77%;
}

/* This is the opening screen div used by the handler-render-dom component */
.title-screen {
	position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
}

/* This is the "Loading..." text in the opening scene */
.progress-bar {
font-size: 3em;
top: 50%;
position: absolute;
text-align: center;
width: 100%;
margin-top: -1.5em;
text-shadow: 0 0.1em 0.1em #000;
}


/*--------------------------------------------------
 *   GUI CSS - ../game/css/gui.css
 */
/*
 *  The in-game GUI (apart from buttons, defined in button.css)
 */

/* The top-right notification area during game-play */
.gem-bar {
position: absolute;
right: 0;
top: 0;
width: 16em;
height: 10em;
background: url('../i/gem-bar.png') no-repeat;
background-size: 100%;
}

/* The active counter in the notification area above */
.gem-counter {
position: absolute;
right: 0;
top: 0;
width: 2em;
text-align: center;
font-size: 5em;
color: white;
font-family: arial;
font-weight: bold;
line-height: 1.6em;
height: 1.6em;
}


/*--------------------------------------------------
 *   FullScreenCSS - ../game/css/fullscreen.css
 */
/**
 * This CSS file is used by js/fullscreen.js to make the game appear full-screen.
 */

#root.full-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

.button-fullscreen {
background: url('../i/buttons.png') 80% 66.666% no-repeat;
background-size: 600%;
top: 1em;
left: 1em;
width: 7em;
height: 7em;
z-index: 10;
position: absolute;
cursor: pointer;
}

.full-screen .button-fullscreen {
background: url('../i/buttons.png') 80% 100% no-repeat;
background-size: 600%;
top: 1em;
left: 1em;
width: 7em;
height: 7em;
z-index: 10;
position: absolute;
cursor: pointer;
}

