/*
 * The following set styles for the the game's wrapper page.
 */
 
body {
	background: #9E8A74;
	padding: 0;
	margin: 0;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color:    rgba(0, 0, 0, 0);
    -ms-tap-highlight-color:     rgba(0, 0, 0, 0);
    -o-tap-highlight-color:      rgba(0, 0, 0, 0);
    tap-highlight-color:         rgba(0, 0, 0, 0);
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.toggle-full-screen {
    cursor: pointer;
    font-family: arial;
    background: rgba(0,0,0,0.2);
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    width: 2em;
    font-size: 0.2em;
    color: #fff;
    line-height: 0.38em;
    text-align: center;
    margin: auto;
    position: relative;
}