/*
 * This CSS file defines button styles for the initial play button and the in-game control buttons.
 *
 * The game engine can optionally scale the pixel value of "em", so ems are used in order to scale buttons to match the game's size. 
 */

/* This is the main menu play button */
.menu-button {
	position: absolute;
	bottom: 7em;
	left: 15em;
	margin-left: -5em;
	width: 10em;
	height: 2.5em;
	text-align: center;
	cursor: pointer;
	background: url('../images/buttons.png') 0 66.667% no-repeat;
	background-size: 150% 400%;
	line-height: 2.5em;
	color: white;
	font-family: arial;
	font-weight: bold;
	font-size: 0.7em;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.menu-button:active {
    background: url('../images/buttons.png') 0 100% no-repeat;
    background-size: 150% 400%;
}

/* The following styles determine in-game buttons, all of which use game-button as their base style */
.game-button {
	width: 3em;
	height: 3em;
	z-index: 10;
	position: absolute;
}

.jump-button {
	background: url('../images/buttons.png') 20% 0 no-repeat;
	background-size: 600%;
	bottom: 0.2em;
	right: 0.2em;
}
.jump-button:active {
	background: url('../images/buttons.png') 20% 33.333% no-repeat;
	background-size: 600%;
}
.jump-center-button {
	background: url('../images/buttons.png') 20% 0 no-repeat;
	background-size: 600%;
	bottom: 0.2em;
	right: 3.4em;
	z-index: 11;
}
.jump-center-button:active {
	background: url('../images/buttons.png') 20% 33.333% no-repeat;
	background-size: 600%;
}
.jump-left-button {
	background: url('../images/buttons.png') 80% 0 no-repeat;
	background-size: 600%;
	bottom: 0.2em;
	right: 6.6em;
}
.jump-left-button:active {
	background: url('../images/buttons.png') 80% 33.333% no-repeat;
	background-size: 600%;
}
.jump-right-button {
	background: url('../images/buttons.png') 100% 0 no-repeat;
	background-size: 600%;
	bottom: 0.2em;
	right: 0.2em;
}
.jump-right-button:active {
	background: url('../images/buttons.png') 100% 33.333% no-repeat;
	background-size: 600%;
}

.go-left-button {
	background: url('../images/buttons.png') 0 0 no-repeat;
	background-size: 600%;
	bottom: 0.2em;
	left: 0.2em;
}
.go-left-button:active {
	background: url('../images/buttons.png') 0 33.333% no-repeat;
	background-size: 600%;
}
.go-right-button {
	background: url('../images/buttons.png') 40% 0 no-repeat;
	background-size: 600%;
	bottom: 0.2em;
	left: 3.4em;
}
.go-right-button:active {
	background: url('../images/buttons.png') 40% 33.333% no-repeat;
	background-size: 600%;
}

/* Since mobile HTML5 audio does not generally support mute, this button only shows on desktop and is smaller than the other game-buttons */
.mute-button.released {
	background: url('../images/buttons.png') 60% 0 no-repeat;
	background-size: 600%;
	top: 0.2em;
	left: 1.8em;
	width: 1.4em;
	height: 1.4em;
	z-index: 10;
	position: absolute;
	cursor: pointer;
}
.mute-button.pressed {
	background: url('../images/buttons.png') 60% 33.333% no-repeat;
	background-size: 600%;
	top: 0.2em;
	left: 1.8em;
	width: 1.4em;
	height: 1.4em;
	z-index: 10;
	position: absolute;
	cursor: pointer;
}
