/* This is the primary game-play region of the page */
#root {
    background: #9E8A74;
	width:       640px;
    height:      480px;
    left:        50%;
    top:         50%;
    margin-left: -320px;
    margin-top:  -240px;    
    position:    absolute;
}

#root.supports-mobile {
	width:       320px;
    height:      240px;
    left:        50%;
    top:         50%;
    margin-left: -160px;
    margin-top:  -120px;    
    position:    absolute;
}

#inner-root {
    left:        50%;
    top:         50%;
    position:    absolute;
}

/* This is the canvas used by the handler-render-createjs component */
#inner-root canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
/* We change the render area to leave room for touch controls */
.supports-mobile #inner-root canvas {
    height: 77%;
}

/* This is the opening screen div used by the handler-render-dom component */
.title-screen {
	position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/title-screen.png) no-repeat;
    background-size: 100% 100%;
}

/* This is the loading bar in the opening scene */
    .mobile-start {
      display: none;
	  position: absolute;
	  top: 11em;
	  left: 50%;
	  width: 3em;
	  text-align: center;
	  margin-left: -1.5em;
	  background: rgba(255,255,255,0.4);
	  cursor: pointer;
    }
    
    .mobile-start.mobile {
      display: block;
    }
    
    #progress-bar-container {
      position: absolute;
      text-align: center;
      width: 4.6em;
      top: 11em;
      height: 0.75em;
      left: 50%;
      margin-left: -2.3em;
      background: #000;
    }
    
    #progress-bar-container.mobile {
      display: none;
    }
    
    #progress-bar {
      left: 0;
      top: 0;
      position: absolute;
      height: 100%;
      width: 0;
      background: #fff;
    }
