/* This is the primary game-play region of the page */
#root {
    background: #9E8A74;
	width:       640px;
    height:      480px;
    left:        50%;
    top:         50%;
    margin-left: -320px;
    margin-top:  -240px;    
    position:    absolute;
}

#root.supports-mobile {
	width:       320px;
    height:      240px;
    left:        50%;
    top:         50%;
    margin-left: -160px;
    margin-top:  -120px;    
    position:    absolute;
}

#inner-root {
    left:        50%;
    top:         50%;
    position:    absolute;
}

/* This is the canvas used by the handler-render-createjs component */
#inner-root canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
/* We change the render area to leave room for touch controls */
.supports-mobile #inner-root canvas {
    height: 77%;
}

/* This is the opening screen div used by the handler-render-dom component */
.title-screen {
	position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/title-screen.png) no-repeat;
    background-size: 100% 100%;
}

/* This is the "Loading..." text in the opening scene */
.progress-bar {
font-size: 0.6em;
top: 50%;
position: absolute;
text-align: center;
width: 100%;
margin-top: -0.3em;
text-shadow: 0 0.02em 0.02em #000;
}