.button
{
	
}

.button:hover .button-hover
{
	opacity: 1;
}

.button-text
{
	text-align: center;
}

/******************************
	GENERAL STYLES BELOW
******************************/

.button-default
{
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: absolute;
}

.button-hover
{
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}


