.menu-button {
position: absolute;
bottom: 3.3em;
left: 7.5em;
margin-left: -5em;
width: 10em;
height: 2.5em;
text-align: center;
cursor: pointer;
background: url('../i/buttons.png') 0 66.667% no-repeat;
background-size: 150% 400%;
line-height: 2.5em;
color: white;
font-family: arial;
font-weight: bold;
font-size: 3.5em;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.menu-button:active {
    background: url('../i/buttons.png') 0 100% no-repeat;
    background-size: 150% 400%;
}