body {
	background: #9E8A74;
	padding: 0;
	margin: 0;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color:    rgba(0, 0, 0, 0);
    -ms-tap-highlight-color:     rgba(0, 0, 0, 0);
    -o-tap-highlight-color:      rgba(0, 0, 0, 0);
    tap-highlight-color:         rgba(0, 0, 0, 0);
}