/**
 * This CSS file is used by js/fullscreen.js to make the game appear full-screen.
 */

#root.full-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

.button-fullscreen {
background: url('../images/buttons.png') 80% 66.666% no-repeat;
background-size: 600%;
top: 0.2em;
left: 0.2em;
width: 1.4em;
height: 1.4em;
z-index: 10;
position: absolute;
cursor: pointer;
}

.full-screen .button-fullscreen {
background: url('../images/buttons.png') 80% 100% no-repeat;
background-size: 600%;
top: 0.2em;
left: 0.2em;
width: 1.4em;
height: 1.4em;
z-index: 10;
position: absolute;
cursor: pointer;
}